@font-face {
  font-family: 'iconfont';  /* project id 506718 */
  src: url('http://at.alicdn.com/t/font_506718_q4xz599xrq5v1jor.eot');
  src: url('http://at.alicdn.com/t/font_506718_q4xz599xrq5v1jor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_506718_q4xz599xrq5v1jor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_506718_q4xz599xrq5v1jor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_506718_q4xz599xrq5v1jor.svg#iconfont') format('svg');
}
i{
	font-family:'iconfont';
}
*{
	margin: 0;
	padding: 0;
	font-family:"SF Pro SC","SF Pro Display","SF Pro Icons","PingFang SC","Helvetica Neue","Helvetica","Arial",sans-serif;
	font-size: 16px;
	list-style:none;
}
/* 去掉a标签的下划线 */
a{
	text-decoration: none;
}
body{
	background: #fff ;
}
img{
	border: none;
}
i{
  font-style:normal;
}