@import url("bass.css");
#fullPage-nav.right ul li a span {
	background: red;
	border: 1px solid #fff;
}

#fullPage-nav.right ul li a.active span {
	background: skyblue;
	border: 1px solid #000;
}

.home {
	width: 100%;
	height: 100%;
	background: url(../img/hero1.jpg);
	background-size: cover;
	position: relative;
}

#menu {
	width: 100%;
	height: 60px;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(255, 255, 255, 0.61);
	z-index: 9999;
	display: flex;
	justify-content: flex-end;
}

#menu ul {
	display: flex;
	align-items: center;
}

#menu ul li {
	height: 100%;
}

#menu ul li a {
	display: block;
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 20px;
	text-align: center;
	line-height: 60px;
	color: black;
}

#menu ul li.active a {
	color: skyblue;
}

.home_content {
	position: absolute;
	text-align: center;
	width: 170px;
	height: 130px;
	left: calc(50% - 130px);
	top: calc(50% - 230px);
	padding: 40px;
	background: rgba(255, 255, 255, 0.8);
	outline: 4px double #FFFFFF;
	outline-offset: 8px;
}

.home_content h1 {
	font-family: 'Roboto Slab', serif;
	font-size: 40px;
	line-height: 40px;
	letter-spacing: 0.6px;
}

.home_content span {
	font-size: 16px;
}

.home_mouse {
	position: absolute;
	border: 2px solid skyblue;
	background: #FFFFFF;
	opacity: 0.6;
	border-radius: 13px;
	height: 40px;
	width: 30px;
	margin: 0 auto;
	display: block;
	left: 0;
	right: 0;
	bottom: 60px;
	z-index: 100;
}

.scroll {
	position: absolute;
	border-radius: 10px;
	background: #2f2f2f;
	width: 4px;
	height: 8px;
	border-radius: 2px;
	top: 4px;
	left: calc(50% - 2px);
}

.about_bth {
	width: 300px;
	height: 100px;
	border-radius: 50px;
	background: rgba(255, 0, 0, 0.6);
	border: 3px solid #f5f5f5;
	position: absolute;
	top: calc(50%);
	left: calc(50% - 100px);
	font-size: 40px;
	text-align: center;
	line-height: 100px;
	color: #FFFFFF;
	cursor: pointer;
	z-index: 999;
}

.about_bth:hover {
	background-image: linear-gradient( 135deg, #69FF97 10%, #00E4FF 100%);
	;
}

.about {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url(../img/overlay.png), linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
	left: 0;
	top: 0;
	filter: blur(10px);
}

@keyframes filter {
	from {
		filter: blur(10px)
	}
	to {
		filter: none
	}
}

.about.active {
	animation: filter 1.5s;
}

.about_head {
	width: 60%;
	height: 200px;
	margin: 0 auto;
	margin-top: 80px;
	text-align: center;
}

.about_head h1 {
	font-size: 36px;
	color: white;
}

.about_head p {
	font-size: 18px;
	margin-top: 10px;
}

.about_left,
.about_right {
	width: 550px;
	height: 350px;
}

.about_left {
	float: left;
	margin-left: 200px;
}

.about_right {
	float: right;
	margin-right: 200px;
}

.about_left img {
	width: 100%;
	height: 100%;
}

.about_right h1 {
	font-size: 36px;
	color: white;
}

.about_right p {
	margin-top: 10px;
	font-size: 20px;
	line-height: 1.5;
}

.skill {
	width: 100%;
	height: 100%;
	background: url(../img/pic02.jpg) no-repeat;
	background-size: 100% 100%;
}

.skill_right {
	width: 60%;
	height: 80%;
	background: red;
	float: right;
	margin-top: 5%;
	margin-right: 5%;
}

.scene {
	width: 60%;
	height: 80%;
	float: right;
	margin-top: 5%;
	margin-right: 5%;
	position: relative;
	-webkit-perspective: 1000;
	transform-style: preserve-3d;
	cursor: pointer;
}

.scene ul {
	width: 400px;
	height: 400px;
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 200px);
	transform-style: preserve-3d;
	transform-origin: center center -400px;
}

.scene ul li {
	position: absolute;
	width: 400px;
	height: 400px;
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	text-align: center;
	line-height: 200px;
	font-size: 20px;
	transform-style: preserve-3d;
	transform-origin: center center -400px;
	opacity: 0.6;
	transition: all .5s; 
}
.scene ul li:hover{
	opacity: 1;
}

.scene ul li:nth-child(1) {
	background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
	transform: rotateY(60deg);
}

.scene ul li:nth-child(2) {
	background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
	transform: rotateY(120deg);
}

.scene ul li:nth-child(3) {
	background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%);
	transform: rotateY(180deg);
}

.scene ul li:nth-child(4) {
	background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
	transform: rotateY(240deg);
}

.scene ul li:nth-child(5) {
	background-image: linear-gradient( 135deg, #FAB2FF 10%, #1904E5 100%);
	transform: rotateY(300deg);
}

.scene ul li:nth-child(6) {
	background-image: linear-gradient( 135deg, #65FDF0 10%, #1D6FA3 100%);
	transform: rotateY(360deg);
}

.skill_con i {
	font-size: 80px;
	text-align: center;
}

.skill_con h2 {
	font-size: 24px;
	text-align: center;
	color: #0d0d0d;
	margin-bottom: 10px;
}

.skill_con p {
	margin: 0 auto;
	font-size: 20px;
	text-align: center;
	color: #000;
	max-width: 300px;
	line-height: 30px;
}

.scene_left {
	width: 250px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
}

.scene_right {
	width: 250px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
}


/*六边形*/
.section4{
	background: url(../img/sec4.jpg) no-repeat center;
	background-size: 100% 100%;
}
#hexGrid {
	overflow: hidden;
	width: 80%;
	margin: 0 auto;
	padding: 0.866% 0;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

#hexGrid:after {
	content: "";
	display: block;
	clear: both;
}

.hex {
	width: 25%;
	padding-bottom: 29%;
	position: relative;
	list-style-type: none;
	float: left;
	overflow: hidden;
	visibility: hidden;
	outline: 1px solid transparent;
	transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}

.hex * {
	position: absolute;
	visibility: visible;
	outline: 1px solid transparent;
}

.hexIn {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	overflow: hidden;
	transform: skewY(-30deg) rotate(60deg);
}

.hex img {
	left: -100%;
	right: -100%;
	width: auto;
	height: 100%;
	margin: 0 auto;
}

.hex h1,
.hex p {
	width: 102%;
	left: -1%;
	padding: 5%;
	box-sizing: border-box;
	background-color: rgba(0, 128, 128, 0.8);
	font-weight: 300;
	transition: transform .2s ease-out, opacity .3s ease-out;
}

.hex h1 {
	bottom: 50%;
	padding-top: 50%;
	font-size: 1.5em;
	z-index: 1;
	transform: translateY(-100%) translatez(-1px);
}

.hex h1:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 45%;
	width: 10%;
	text-align: center;
	border-bottom: 1px solid #fff;
}

.hex p {
	top: 50%;
	padding-bottom: 50%;
	transform: translateY(100%) translatez(-1px);
}

.hexIn:hover h1,
.hexIn:focus h1,
.hexIn:hover p,
.hexIn:focus p {
	transform: translateY(0%) translatez(-1px);
}


.hex:nth-child(9n+6),
.hex:nth-child(9n+7),
.hex:nth-child(9n+8),
.hex:nth-child(9n+9) {
	margin-top: -4.676%;
	margin-bottom: -4.676%;
	transform: translateX(50%) rotate(-60deg) skewY(30deg);
}

.hex:nth-child(9n+6):last-child,
.hex:nth-child(9n+7):last-child,
.hex:nth-child(9n+8):last-child,
.hex:nth-child(9n+9):last-child {
	margin-bottom: 0;
}

.hex:nth-child(9n+6) {
	margin-left: 0.5%;
	clear: left;
}

.hex:nth-child(9n+10) {
	clear: left;
}

.hex:nth-child(9n+2),
.hex:nth-child(9n+7) {
	margin-left: 1%;
	margin-right: 1%;
}

.hex:nth-child(9n+3),
.hex:nth-child(9n+4),
.hex:nth-child(9n+8) {
	margin-right: 1%;
}
.hex:nth-child(1){
	margin-right: 10%;
}
.hex:nth-child(2){
	margin-right: 10%;
}
.hex:nth-child(4){
	margin-left: 18%;
	margin-right: 10%;
}
